{% extends "KnpIpsumBundle::layout.html.twig" %}

{% block title "Symfony2 Tutorial Application" %}

{% block content %}
    <ul id="ipsum-list" class="content-margin">
        <li><a href="{{ url('knp_ipsum_twig', {'name': 'World'}) }}">Template</a> &rarr; How to use twig</li>
        <li><a href="{{ url('knp_ipsum_form') }}">Forms</a> &rarr; How to create a form</li>
        <li><a href="{{ url('knp_ipsum_doctrine_orm') }}">Doctrine ORM</a> &rarr; How to work with your relational database</a></li>
        <li><a href="{{ url('knp_ipsum_doctrine_odm') }}">Doctrine ODM [MongoDB]</a> &rarr; How to work with Doctrine ODM</a></li>
        <li><a href="{{ url('knp_ipsum_secured') }}">Security</a> &rarr; How to secure an action and create a login page</li>
        <li><a href="{{ url('knp_ipsum_sensio_frameworkextra') }}">SensioFrameworkExtraBundle</a> &rarr; How to use annotations in the controller to indicate the routes and templates</li>
        <li><a href="{{ url('knp_ipsum_jms_securityextra') }}">JMSSecurityExtraBundle</a> &rarr; How to use annotations in the controller to restrict certain actions to some groups of users</li>
        <li><a href="{{ url('knp_ipsum_avalanche_imagine') }}">AvalancheImagineBundle</a> &rarr; How to apply effects like thumbnails to your images</li>
        <li><a href="{{ url('knp_ipsum_knp_menu') }}">KnpMenuBundle</a> &rarr; How to create and render menus</a></li>
        <li><a href="{{ url('knp_ipsum_assetic') }}">AsseticBundle</a> &rarr; How to easily apply filters to your CSS and images</a></li>
        <li><a href="{{ url('knp_ipsum_swiftmailer') }}">SwiftmailerBundle</a> &rarr; How to send emails</a></li>
        <li><a href="{{ url('knp_ipsum_gedmo_extensions') }}">Doctrine extensions</a> &rarr; How to use Doctrine extensions to add some behaviors</a></li>
        <li><a href="{{ url('knp_ipsum_fos_rest') }}">FOSRestBundle</a> &rarr; How to support different output format easily</a></li>
        <li><a href="{{ url('knp_ipsum_pagerfanta') }}">Pagerfanta</a> &rarr; How to use Pagerfanta to paginate your results</a></li>
        <li><a href="{{ url('sonata_admin_dashboard') }}">SonataAdminBundle</a> &rarr; How to use SonataAdminBundle to create an admin interface</a></li>
        <li><a href="{{ url('fos_user_profile_show') }}">FOSUserBundle</a> &rarr; How to use FOSUserBundle to manage the users</a></li>
    </ul>
{% endblock %}
